
/* *{
    border: 1px solid black;
} */

.wrapper{
    background-color:cornflowerblue
}

.user-info{
    background-color:burlywood;
    max-width: 800px;
    width: 100%;
}

.ticket-info{
    background-color:rgb(190, 116, 18);
    max-width: 800px;
    width: 100%;
}